body {
    margin: 0;
    font-size: 18.5px;
    line-height: 1.5em;
    -webkit-text-size-adjust: none;
}

/* Structure */
#page {
    padding-top: 1.9em;
    margin: 0.5em;
}
#mid_panel {
    margin: 0;
}

/* Title */
#title {
    margin-top: -1.5em;
    padding: 1.0em 0.5em;
}
#title .label  {
    font-size: 0.65em;
    max-width: 25em;
    padding: 2.0em;
}

/* Side panels */
#tools_wrapper {
    position: static;
}
.tools {
    background-image: url("../img/text_bg.jpg");
    position: relative;
    width: auto;
}
#character_panel {
    display: none;
}
#info_panel {
    display: none;
}
#tools_wrapper {
    display: block;
}

/* Main content */
#content_wrapper {
    width: auto;
    padding: 2.0em;
}
#content {
    font-size: 16px;
    line-height: 1.5em;
}

/* Toolbar and menu */
#toolbar {
    position: fixed;
    z-index: 300;
    left: 0;
    right: 0;
    top: 0;
    background: transparent url("../img/toolbar_bg.jpg") repeat-x top left;
    height: 36px;
    padding: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);
    box-shadow: 0 0 16px rgba(0,0,0,0.75);
}
#toolbar h1 {
    float: left;
    font-weight: normal;
    font-size: 22px;
    margin: 8px 0 0 0;
    padding: 0 10px;
    color: #fc6;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}
#toolbar .nav {
    float: right;
    margin: 0;
}
#toolbar .nav a {
    font-size: 16px;
    line-height: 20px;
    color: white;
    padding: 4px 16px;
    float: right;
    text-decoration: none;\
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    -webkit-border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom,
                                       from(#C00), color-stop(0.45, #a00),
                                       color-stop(0.55, #900), to(#900));
    border: 2px solid #600;
}
#menu {
    display: none;
    position: fixed;
    top: 52px;
    left: 0;
    right: 0;
    font-size: 16px;
    background-image: url("../img/tools_bg.jpg");
    z-index: 200;
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;
    opacity: 0.95;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);
    box-shadow: 0 0 16px rgba(0,0,0,0.75);
}
#menu li {
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
#menu li:last-child {
    border-bottom: none;
}
#menu a {
    display: block;
    padding: 10px 20px;
}


